 <!-- 插件 / 功能资源 -->

  <!-- 引入 CSS 样式 -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/friends.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/music-player.css' | relative_url }}">

  <!-- Aplayer播放器 -->
  <link rel="stylesheet" href="https://cdn.tungchiahui.cn/libs/aplayer/1.10.1/APlayer.min.css">
  <script defer src="https://cdn.tungchiahui.cn/libs/aplayer/1.10.1/APlayer.min.js"></script>
  <!-- Meting音乐资源加载器 -->
  <script defer src="https://cdn.tungchiahui.cn/libs/meting/1.2.0/Meting.min.js"></script>

  <!-- 代码高亮样式 -->
  <link rel="stylesheet" href="{{ '/assets/css/code-highlight.css' | relative_url }}">
  <script defer src="/assets/js/code-copy.js"></script>

  <!-- Font Awesome -->
  <link href="https://cdn.tungchiahui.cn/libs/font-awesome/7.1.0/fontawesome.min.css" rel="stylesheet">
  <script defer src="https://cdn.tungchiahui.cn/libs/font-awesome/7.1.0/all.min.js"></script>

  <!-- === 图片点击放大功能(延迟加载) === -->
  <script defer src="https://cdn.tungchiahui.cn/libs/medium-zoom/1.1.0/medium-zoom.min.js"></script>
  <script defer src="/assets/js/image-zoom.js"></script>

  <!-- 懒加载 -->
  <script defer src="/assets/js/lazyload.js"></script>

  <!-- 拼音转换库及脚本(仍然有问题) -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/pinyin-pro@3.27.0/dist/index.min.js"></script>
  <script defer src="/assets/js/pinyin.js"></script> -->

  <!-- Vercount 网站访问统计 -->
  <script async src="https://events.vercount.one/js"></script>

  <script defer src="https://umami.tungchiahui.cn/script.js" data-website-id="0d79b40f-ff86-484b-80c1-fb6a5b6dbbe9"></script>

  <!-- 放在模板底部，lazyload.js 或其他主脚本之后 -->
  <script defer src="/assets/js/pjax-vercount.js"></script>
