 <!-- 插件 / 功能资源 -->

  <!-- 引入 CSS 样式 -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/friends.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/blog.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/music-player.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.7.0/dist/APlayer.min.css">


  <script defer src="https://cdn.jsdelivr.net/npm/aplayer@1.7.0/dist/APlayer.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/meting@1.1.0/dist/Meting.min.js"></script>


  <!-- 代码高亮样式 -->
  <link rel="stylesheet" href="{{ '/assets/css/code-highlight.css' | relative_url }}">

  <!-- 国内Font Awesome镜像 -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/7.0.0/css/all.min.css">

  <!-- === 图片点击放大功能(延迟加载) === -->
  <script defer src="https://cdn.tungchiahui.cn/tungwebsite/assets/js/medium-zoom.min.js"></script>

  <!-- Vercount 网站访问统计 -->
  <script async src="https://events.vercount.one/js"></script>

  <!-- 放在模板底部，lazyload.js 或其他主脚本之后 -->
  <script defer src="/assets/js/pjax-vercount.js"></script>