<footer>
  <p>© {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>

  <!-- 社交图标 -->
  <div class="footer-social">
    {% if site.social.website %}
      <a href="{{ site.social.website }}" target="_blank" rel="noopener" title="Website">
        <i class="fas fa-link"></i>
      </a>
    {% endif %}
    {% if site.social.email %}
      <a href="{{ site.social.email }}" target="_blank" rel="noopener" title="E-Mail">
        <i class="fas fa-envelope"></i>
      </a>
    {% endif %}
    {% if site.social.github %}
      <a href="{{ site.social.github }}" target="_blank" rel="noopener" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
    {% endif %}
    {% if site.social.qq %}
      <a href="{{ site.social.qq }}" target="_blank" rel="noopener" title="QQ">
        <i class="fab fa-qq"></i>
      </a>
    {% endif %}
    {% if site.social.telegram %}
      <a href="{{ site.social.telegram }}" target="_blank" rel="noopener" title="Telegram">
        <i class="fab fa-telegram"></i>
      </a>
    {% endif %}
    {% if site.social.coolapk %}
      <a href="{{ site.social.coolapk }}" target="_blank" rel="noopener" title="CoolAPK">
        <i class="fab fa-android"></i>
      </a>
    {% endif %}
    {% if site.social.bilibili %}
      <a href="{{ site.social.bilibili }}" target="_blank" rel="noopener" title="Bilibili">
        <i class="fa-brands fa-bilibili"></i>
      </a>
    {% endif %}
    {% if site.social.youtube %}
      <a href="{{ site.social.youtube }}" target="_blank" rel="noopener" title="YouTube">
        <i class="fab fa-youtube"></i>
      </a>
    {% endif %}
    {% if site.social.twitter %}
      <a href="{{ site.social.twitter }}" target="_blank" rel="noopener" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    {% endif %}
    {% if site.social.facebook %}
      <a href="{{ site.social.facebook }}" target="_blank" rel="noopener" title="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
    {% endif %}
    {% if site.social.instagram %}
      <a href="{{ site.social.instagram }}" target="_blank" rel="noopener" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    {% endif %}
  </div>

  <div class="footer-records">
    <!-- ICP 备案号 -->
    {% if site.icp %}
    <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener" class="footer-record icp">
      <img src="https://cdn.tungchiahui.cn/tungwebsite/assets/images/footer/favicon-miit.ico" alt="工信部图标">
      {{ site.icp }}
    </a>
    {% endif %}

     <!-- 公安备案号 -->
    {% if site.beian %}
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ site.beian }}" target="_blank" rel="noopener" class="footer-record beian">
      <img src="https://cdn.tungchiahui.cn/tungwebsite/assets/images/footer/favicon-mps.ico" alt="公安备案图标">
      鲁公网安备 {{ site.beian }} 号
    </a>
    {% endif %}
  </div>


</footer>
