<!DOCTYPE html>
<html lang="zh-CN">
  {% include head.html %}
  <body>
    {% include header.html %}
    
    {% include music-player.html %}

    <main id="pjax-container">
      {{ content }}
    </main>

    {% include footer.html %}

    <!-- 这才是liquild的注释，不能用html的注释 -->
    <!-- 因为liquid会把html的注释也渲染出来 -->
    {% comment %}
    {% include translate.html %}
    {% endcomment %}


    <!-- PJAX -->
  <script src="https://cdn.jsdelivr.net/npm/pjax@0.2.8/pjax.min.js" defer></script>
  <script src="/assets/js/pjax-init.js" defer></script>
  </body>
</html>
