<!DOCTYPE html>
<html lang="zh-CN">
  {% include head.html %}
  <body>
    {% include header.html %}
    
    {% include music.html %}
    
    <main id="pjax-container">
      {{ content }}
    </main>

    {% include footer.html %}

    <!-- 这才是liquild的注释，不能用html的注释 -->
    <!-- 因为liquid会把html的注释也渲染出来 -->
    {% comment %}
    {% include translate.html %}
    {% endcomment %}

  <!-- PJAX -->
  <script src="https://cdn.tungchiahui.cn/assets/js/pjax.min.js"></script>
  <script src="/assets/js/pjax-init.js"></script>

  <!-- 🎧 音乐初始化脚本 -->
  <script src="/assets/js/music-init.js"></script>
  
  </body>
</html>
